<div class="card-container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> Member</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{Nb_member}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>article</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{Nb_article}}</p>
    </mat-card-content>
  </mat-card>


  <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>outils</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{Nb_outils}}</p>
      </mat-card-content>
    </mat-card>



    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>event</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{Nb_event}}</p>
      </mat-card-content>
    </mat-card>


    <div class="chart-wrapper">
      <canvas baseChart
              [type]="'line'"
        [datasets]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
        >
      </canvas>
    </div>



    <div class="chart-wrapper">
      <canvas baseChart
              [type]="'pie'"
        [datasets]="chartDataPie" 
        
        [labels]="chartLabelsPie"
        [options]="chartOptions"
        >
      </canvas>
    </div>



    <div class="chart-wrapper">
      <canvas baseChart
              [type]="'polarArea'"
        [datasets]="chartDataPie" 
        
        [labels]="chartLabelsPie"
        [options]="chartOptions"
        >
      </canvas>
    </div>

    <div class="chart-wrapper">
      <canvas baseChart
              [type]="'bar'"
        [datasets]="chartDataBar" 
        
        [labels]="chartLabelsBar"
        [options]="chartOptions"
        >
      </canvas>
    </div>

  
</div>